canvas {
  width: 544px;
  height: 544px;

  image-rendering: optimizeSpeed; /* Older versions of FF          */
  image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated; /* Awesome future-browsers       */

  -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

@font-face {
  font-family: PixelFont;
  src: url("./res/pixel.ttf");
}

.container {
  position: relative;
  width: 544px;
  height: 544px;
  display: block;
  margin: 0 auto;
}

#canvas2d {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}

#canvas3d {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;
}

.center-text {
  text-align: center;
}

.invis {
  color: #808080;
}

p {
  font-family: "Courier New";
}

a {
  text-decoration: none;
}
